.App{
  width: 100vw;
  height: 100vh;
}
.navbar{
  height: var(--navbar-height);
  display: flex;
  flex-direction: column;
}
.footer{
  height: var(--footer-height);
  padding: 0 3rem;
  border-top: 1px solid var(--border-color);
}
.section{
  height: calc(100% - (var(--footer-height) + var(--navbar-height)));
}
.df{
  display: flex;
}
.aic{
  align-items: center;
}
.jcsb{
  justify-content: space-between;
}
.jcc{
  justify-content: center;
}
.btn{
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 0.4rem 1.3rem;
  border-radius: 15px;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}