.App{
  height: 100vh;
}
.navbar{
  height: var(--navbar-height);
  display: flex;
  flex-direction: column;
}
.footer{
  height: var(--footer-height);
  padding: 0 2rem;
  font-size: 0.8rem;
  border-top: 1px solid var(--border-color);
}
.hamburger{
  display: none;
}
.section{
  min-height: calc(100% - (var(--footer-height) + var(--navbar-height)));
}
.df{
  display: flex;
}
.aic{
  align-items: center;
}
.jcsb{
  justify-content: space-between;
}
.jcc{
  justify-content: center;
}
.btn{
  background-color: var(--primary-color);
  color: white;
  border: 1px solid var(--primary-color);
  padding: 0.6rem 1rem;
  border-radius: 20px;
  font-size: 1rem;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  transition: 0.2s;
}
.btn:hover{
  cursor: pointer;
  transition: 0.2s;
  background-color: white;
  color: var(--primary-color);
}
a{
  text-decoration: none;
}
.field{
  flex-direction: column;
  gap: 0.4rem;
  width: 19rem;
}
.field > div{
  flex-wrap: wrap;
  gap: 0.4rem;
}
.field > div .error{
  font-size: 0.8rem;
  color: red;
  white-space: nowrap;
}
.field > label{
  color: rgb(37, 37, 37);
  font-size: 1rem;
}
.field input, .field select{
  border: 1px solid var(--primary-color);
  padding: 0.6rem 1rem;
  outline: none;
}
.field input:focus, .field select:focus{
  box-shadow: 0 0 3px 1px var(--primary-color);
  transition: 0.3s;
}