.navbar .top{
    padding: var(--primary-padding) 2rem;
    height: 60%;
}
.navbar .top > .logo{
    width: 9rem;
    cursor: pointer;
}
.navbar .menu-section{
    height: 40%;
    background-color: rgb(250, 242, 228);
}
.navbar .menu-section ul{
    list-style: none;
    /* gap: 3rem; */
    font-size: 1rem;
}
.navbar .menu-section > ul > li{
    cursor: pointer;
    user-select: none;
    position: relative;
    padding: 0 1.3rem;
    border-right: 1px solid var(--border-color);
}
.navbar .menu-section > ul > li:nth-last-child(1){
    border-right: none;
}
.navbar .menu-section ul li > a{
    gap: 0.4rem;
    color: #000000d3;
    white-space: nowrap;
}
.navbar .menu-section ul li .overflow{
    background-color: white;
    position: absolute;
    top: 100%;
    width: fit-content;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 1px rgba(20, 20, 20, 0.407);
    flex-direction: column;
    gap: 1.2rem;
    display: none;
}
.navbar .menu-section ul li:hover .overflow{
    display: flex;
}
.navbar .menu-section ul li .overflow li a:hover{
    color: var(--primary-color);
    text-decoration: underline;
}
.footer{
    font-size: 0.9rem;
    letter-spacing: 0.5px;
    color: gray;
    user-select: none;
}
.section{
    padding: var(--primary-padding);
}
.loan-calculation{
    padding: 1rem 2rem;
}
.loan-calculation > section {
    border: 1px solid rgba(201, 201, 201, 0.753);
    padding:  1rem var(--primary-padding);
    border-radius: 5px;
    flex-wrap: wrap;
}
.loan-calculation > h3 {
    font-weight: normal;
    font-size: 1.3rem;
    margin-bottom: 1.7rem;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
    text-decoration-color: var(--primary-color);
}
.loan-calculation > h3 > span {
    font-weight: bold;
    font-style: italic;
    color: var(--primary-color);
}
.loan-calculation .input-form{
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    width: 50%;
border-right: 1px solid rgba(201, 201, 201, 0.753);
}
.loan-calculation .result-area{
    justify-content: start;
    width: 50%;
    padding: 0 var(--primary-padding);
    flex-direction: column;
    gap: 0.8rem;
}
.loan-calculation .result-area .heading .main b{
    color: var(--primary-color);
    font-style: italic;
}   
.loan-calculation .result-area .summury{
    background-color: var(--primary-color);
    color: white;
    width: 23rem;
    padding: 0.4rem 0;
    padding-bottom: 0.7rem;
    border-radius: 10px;
    flex-direction: column;
    gap: 0.5rem;
}
.summury-table{
    border-collapse: collapse;
}
.summury-table tbody tr td{
    padding: 0.3rem 0.7rem;
    padding-bottom: 0.5rem;
    
}
.summury-table tbody tr td:nth-child(2){
    font-style: italic;
    font-weight: bold;
}
.summury-table .total{
    background-color: white;
    color: var(--primary-color);
}
.summury-table .total td{
    padding: 0.3rem 0.7rem;
}
.terms{
    list-style: none;
    margin: 2rem 0;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    color: gray;
}